:root {
    /* index.html */
    --header-background: #FFFFFF;
    --color-footer-tel: rgba(255, 255, 255, 0.6);
    --color-footer-maill: rgba(255, 255, 255, 0.6);
    --color-footer-address: #FFFFFF;
    --color-footer-logo: #FFFFFF;
    --color--four-subtitle: #757575;
    --color-too-description: #757575;
    --button-color: #FFFFFF;
    --button-background-hover: #188CE8;
    --button-background: #2196F3;
    --color-one-title: #FFFFFF;
    --color-tel: #757575;
    --color-maill: #757575;
    --color-nav: #212121;
    --color-roboto: #212121;
    --color-logo: #000000;
    --accent-color: #2196F3;
    --major-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --basic-background: #2F303A;
    /* portfolio.html */
    --portfolio-header-background:#FFFFFF;
    --portfolio-but-color: #212121;
    --portfolio-but-background: #F5F4FA;
    --portfolio-but-hover-color: #FFFFFF;
    --portfolio-but-hover-background: #2196F3;
    --portfolio-title-color: #212121;
    --portfolio-text-color: #757575;
}

body {
    font-family: var(--major-font);
    color: var(--color-roboto);
}

.list {
    list-style: none;
    text-decoration: none;
}

.web {
    color: var(--accent-color)
}
/* header */

.header {
    background: var(--header-background);
}

.heder-logo {
    font-weight: 700;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo)
}

.list-nav:hover,
.list-nav:focus,
.header-tel:hover,
.header-tel:focus, 
.header-maill:hover,
.header-maill:focus,
.footer-address:hover,
.footer-address:focus,
.footer-maill:hover,
.footer-maill:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color)
}

.list-nav {
    font-weight: 500;
    color: var(--color-nav);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-maill {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-maill);
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-tel);
}
/* main */

/* section-one */

.section-one {
    background: var(--basic-background);
}

.section-one-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-one-title);
}

.button:hover,
.button:focus {
    background: var(--button-background-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button {
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* section-too */

.section-too-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-too-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-too-description);
}
/* secion-three */

.section-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
/* section-four */

.section-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-roboto);
}

.section-four-user {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-roboto);
}
.section-four-subtitle {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color--four-subtitle);
}
/* footer */

.footer {
    background: var(--basic-background);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;   
    color: var(--color-footer-logo);
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-footer-address);
}

.footer-maill {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;    
    letter-spacing: 0.03em;    
    color: var(--color-footer-maill);
}

.footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;    
    letter-spacing: 0.03em;    
    color: var(--color-footer-tel);
}
/* --------Portfolio------- */

.portfolio-header {
    background: var(--portfolio-header-background);
}

.portfolio-button {
    cursor: pointer;
    background: var(--portfolio-but-background);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.52;
    letter-spacing: 0.03em;
    color: var(--portfolio-but-color);
}

.portfolio-button:hover, 
.portfolio-button:focus {
    color: var(--portfolio-but-hover-color);
    background: var(--portfolio-but-hover-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--portfolio-title-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--portfolio-text-color);
}

/* .portfolio-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
} */